In [1]:
import pandas as pd
import platform
import datetime as dt

In [2]:
if platform.system() == 'Linux':
    df = pd.read_csv('/home/chib/Documents/TSData/ChicagoCrimes2001ToPresent.csv')
else:
    print("AlePath")

In [3]:
print(df.columns)
df.head(3)

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,7070949,HR477887,08/11/2009 12:30:00 PM,045XX S GREENWOOD AVE,0810,THEFT,OVER $500,VEHICLE NON-COMMERCIAL,False,False,...,4.0,39.0,06,1184348.0,1875108.0,2009,02/04/2016 06:33:39 AM,41.812467,-87.599326,"(41.812467299, -87.599325599)"
1,7070950,HR478180,08/11/2009 05:00:00 PM,047XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,False,False,...,28.0,25.0,11,1144619.0,1901792.0,2009,02/04/2016 06:33:39 AM,41.886531,-87.744382,"(41.886530554, -87.74438154)"
2,7070951,HR478220,08/11/2009 06:50:00 PM,013XX W DEVON AVE,031A,ROBBERY,ARMED: HANDGUN,RESTAURANT,False,False,...,40.0,1.0,03,1166249.0,1942628.0,2009,02/04/2016 06:33:39 AM,41.998152,-87.663779,"(41.998151691, -87.663779402)"

In [4]:
#df = df.sort_values(by ='Date')
df['TempDate']= df['Date'].apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y %H:%M:%S %p'))
df = df.sort_values(by ='TempDate')
df.reset_index(inplace = True)
del df['index']

In [5]:
df.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,TempDate
0,1330412,G026686,01/01/2001 01:00:00 AM,019XX N HALSTED ST,0820,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,...,NaN,06,1170604.0,1913228.0,2001,08/17/2015 03:03:40 PM,41.917383,-87.648623,"(41.917382588, -87.648623098)",2001-01-01 01:00:00
1,1323184,G017467,01/01/2001 01:00:00 PM,102XX S WOOD ST,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,...,NaN,26,1166196.0,1836771.0,2001,08/17/2015 03:03:40 PM,41.707671,-87.666996,"(41.707671475, -87.666996186)",2001-01-01 01:00:00
2,1427622,G150373,01/01/2001 01:00:00 PM,045XX W SCHUBERT AV,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,False,...,NaN,26,1145750.0,1917534.0,2001,08/17/2015 03:03:40 PM,41.929707,-87.739828,"(41.929706879, -87.73982819)",2001-01-01 01:00:00
3,1310717,G001093,01/01/2001 01:00:00 AM,071XX N WOLCOTT AV,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,NaN,14,1162335.0,1947787.0,2001,08/17/2015 03:03:40 PM,42.012391,-87.678032,"(42.0123912, -87.678032389)",2001-01-01 01:00:00
4,1316324,G002222,01/01/2001 01:00:00 PM,059XX W ARTHINGTON ST,0810,THEFT,OVER $500,STREET,False,False,...,NaN,06,1136610.0,1895353.0,2001,08/17/2015 03:03:40 PM,41.869008,-87.773947,"(41.869008134, -87.77394715)",2001-01-01 01:00:00

In [6]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'TempDate'],
      dtype='object')

In [7]:
#mapping of Primary type and description done via IUCR code
df = df.loc[:,['Date','Arrest','Beat']]
df.head(3)

                     Date Arrest  Beat
0  01/01/2001 01:00:00 AM  False  1813
1  01/01/2001 01:00:00 PM  False  2213
2  01/01/2001 01:00:00 PM  False  2521

In [8]:
print(df.shape)
df.describe()

(6288458, 3)

               Beat
count  6.288458e+06
mean   1.195541e+03
std    7.036486e+02
min    1.110000e+02
25%    6.230000e+02
50%    1.111000e+03
75%    1.732000e+03
max    2.535000e+03

In [9]:
df.isnull().values.any()

False

In [10]:
df.shape

(6288458, 3)

In [11]:
df

                           Date Arrest  Beat
0        01/01/2001 01:00:00 AM  False  1813
1        01/01/2001 01:00:00 PM  False  2213
2        01/01/2001 01:00:00 PM  False  2521
3        01/01/2001 01:00:00 AM  False  2424
4        01/01/2001 01:00:00 PM  False  1513
5        01/01/2001 01:00:00 PM  False  1722
6        01/01/2001 01:00:00 PM  False  2234
7        01/01/2001 01:00:00 AM  False   323
8        01/01/2001 01:00:00 PM  False  1724
9        01/01/2001 01:00:00 PM  False  1522
10       01/01/2001 01:00:00 AM  False  1724
11       01/01/2001 01:00:00 AM  False  1223
12       01/01/2001 01:00:00 AM  False  2413
13       01/01/2001 01:00:00 AM  False   214
14       01/01/2001 01:00:00 AM  False   731
15       01/01/2001 01:00:00 AM  False  1913
16       01/01/2001 01:00:00 AM  False   334
17       01/01/2001 01:00:00 PM  False   914
18       01/01/2001 01:00:00 AM  False  1933
19       01/01/2001 01:00:00 AM  False  1421
20       01/01/2001 01:00:00 AM  False   233
21       01/01/2001 01:00:00 AM  False  1033
22       01/01/2001 01:00:00 PM  False   312
23       01/01/2001 01:00:00 PM  False   213
24       01/01/2001 01:00:00 PM  False   911
25       01/01/2001 01:00:00 PM  False  1433
26       01/01/2001 01:00:00 AM  False  1023
27       01/01/2001 01:00:00 AM  False  1632
28       01/01/2001 01:00:00 AM   True  1434
29       01/01/2001 01:00:00 AM  False   421
...                         ...    ...   ...
6288428  03/08/2017 12:25:00 PM   True   923
6288429  03/08/2017 12:26:00 PM   True   726
6288430  03/08/2017 12:26:00 PM   True  1121
6288431  03/08/2017 12:28:00 AM   True  1234
6288432  03/08/2017 12:30:00 PM  False   323
6288433  03/08/2017 12:30:00 PM  False  2424
6288434  03/08/2017 12:30:00 PM  False  1724
6288435  03/08/2017 12:30:00 PM  False  1834
6288436  03/08/2017 12:30:00 AM  False  2533
6288437  03/08/2017 12:30:00 PM  False  1211
6288438  03/08/2017 12:30:00 AM  False  1811
6288439  03/08/2017 12:32:00 PM  False  1923
6288440  03/08/2017 12:33:00 AM  False   735
6288441  03/08/2017 12:33:00 PM   True   432
6288442  03/08/2017 12:35:00 PM  False   122
6288443  03/08/2017 12:38:00 AM  False   835
6288444  03/08/2017 12:38:00 PM  False   234
6288445  03/08/2017 12:40:00 AM  False   124
6288446  03/08/2017 12:44:00 PM   True  1112
6288447  03/08/2017 12:45:00 PM  False   122
6288448  03/08/2017 12:45:00 PM  False   123
6288449  03/08/2017 12:46:00 PM   True  1412
6288450  03/08/2017 12:50:00 PM  False   211
6288451  03/08/2017 12:50:00 PM  False  1133
6288452  03/08/2017 12:50:00 PM  False   121
6288453  03/08/2017 12:50:00 PM  False   412
6288454  03/08/2017 12:50:00 AM  False  1014
6288455  03/08/2017 12:50:00 PM  False  1731
6288456  03/08/2017 12:51:00 AM  False  1121
6288457  03/08/2017 12:57:00 PM   True  1021

[6288458 rows x 3 columns]

In [15]:
df['Day']= df['Date'].apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y %H:%M:%S %p').day )
#df['Month']= df['Date'].apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y %H:%M:%S %p').month )
#df['Year']= df['Date'].apply(lambda x: dt.datetime.strptime(x,'%m/%d/%Y %H:%M:%S %p').year )
df.head(100)

                      Date Arrest  Beat  Day
0   01/01/2001 01:00:00 AM  False  1813    1
1   01/01/2001 01:00:00 PM  False  2213    1
2   01/01/2001 01:00:00 PM  False  2521    1
3   01/01/2001 01:00:00 AM  False  2424    1
4   01/01/2001 01:00:00 PM  False  1513    1
5   01/01/2001 01:00:00 PM  False  1722    1
6   01/01/2001 01:00:00 PM  False  2234    1
7   01/01/2001 01:00:00 AM  False   323    1
8   01/01/2001 01:00:00 PM  False  1724    1
9   01/01/2001 01:00:00 PM  False  1522    1
10  01/01/2001 01:00:00 AM  False  1724    1
11  01/01/2001 01:00:00 AM  False  1223    1
12  01/01/2001 01:00:00 AM  False  2413    1
13  01/01/2001 01:00:00 AM  False   214    1
14  01/01/2001 01:00:00 AM  False   731    1
15  01/01/2001 01:00:00 AM  False  1913    1
16  01/01/2001 01:00:00 AM  False   334    1
17  01/01/2001 01:00:00 PM  False   914    1
18  01/01/2001 01:00:00 AM  False  1933    1
19  01/01/2001 01:00:00 AM  False  1421    1
20  01/01/2001 01:00:00 AM  False   233    1
21  01/01/2001 01:00:00 AM  False  1033    1
22  01/01/2001 01:00:00 PM  False   312    1
23  01/01/2001 01:00:00 PM  False   213    1
24  01/01/2001 01:00:00 PM  False   911    1
25  01/01/2001 01:00:00 PM  False  1433    1
26  01/01/2001 01:00:00 AM  False  1023    1
27  01/01/2001 01:00:00 AM  False  1632    1
28  01/01/2001 01:00:00 AM   True  1434    1
29  01/01/2001 01:00:00 AM  False   421    1
..                     ...    ...   ...  ...
70  01/01/2001 01:12:00 AM   True  2411    1
71  01/01/2001 01:13:09 AM   True  1923    1
72  01/01/2001 01:15:00 AM   True  1212    1
73  01/01/2001 01:15:00 AM   True  2113    1
74  01/01/2001 01:15:00 PM  False  2221    1
75  01/01/2001 01:15:00 AM  False   424    1
76  01/01/2001 01:15:00 PM   True   132    1
77  01/01/2001 01:15:00 AM   True   732    1
78  01/01/2001 01:15:00 AM  False   311    1
79  01/01/2001 01:15:31 AM  False  1933    1
80  01/01/2001 01:17:49 AM  False   433    1
81  01/01/2001 01:20:00 AM  False   331    1
82  01/01/2001 01:20:00 PM   True  1414    1
83  01/01/2001 01:23:32 AM   True  1834    1
84  01/01/2001 01:25:22 AM  False   921    1
85  01/01/2001 01:25:22 AM  False   921    1
86  01/01/2001 01:25:32 AM  False  2232    1
87  01/01/2001 01:26:31 AM  False   434    1
88  01/01/2001 01:27:00 AM  False  1524    1
89  01/01/2001 01:27:12 AM   True   825    1
90  01/01/2001 01:27:42 PM  False  1114    1
91  01/01/2001 01:29:32 PM  False   431    1
92  01/01/2001 01:30:00 PM  False   935    1
93  01/01/2001 01:30:00 AM  False   712    1
94  01/01/2001 01:30:00 PM   True  1651    1
95  01/01/2001 01:30:00 AM  False  1431    1
96  01/01/2001 01:30:00 AM  False   213    1
97  01/01/2001 01:30:00 AM  False  2523    1
98  01/01/2001 01:30:00 PM  False  1032    1
99  01/01/2001 01:30:00 PM  False  1422    1

[100 rows x 4 columns]

In [19]:
df.head(1200)

                        Date Arrest  Beat  Day
0     01/01/2001 01:00:00 AM  False  1813    1
1     01/01/2001 01:00:00 PM  False  2213    1
2     01/01/2001 01:00:00 PM  False  2521    1
3     01/01/2001 01:00:00 AM  False  2424    1
4     01/01/2001 01:00:00 PM  False  1513    1
5     01/01/2001 01:00:00 PM  False  1722    1
6     01/01/2001 01:00:00 PM  False  2234    1
7     01/01/2001 01:00:00 AM  False   323    1
8     01/01/2001 01:00:00 PM  False  1724    1
9     01/01/2001 01:00:00 PM  False  1522    1
10    01/01/2001 01:00:00 AM  False  1724    1
11    01/01/2001 01:00:00 AM  False  1223    1
12    01/01/2001 01:00:00 AM  False  2413    1
13    01/01/2001 01:00:00 AM  False   214    1
14    01/01/2001 01:00:00 AM  False   731    1
15    01/01/2001 01:00:00 AM  False  1913    1
16    01/01/2001 01:00:00 AM  False   334    1
17    01/01/2001 01:00:00 PM  False   914    1
18    01/01/2001 01:00:00 AM  False  1933    1
19    01/01/2001 01:00:00 AM  False  1421    1
20    01/01/2001 01:00:00 AM  False   233    1
21    01/01/2001 01:00:00 AM  False  1033    1
22    01/01/2001 01:00:00 PM  False   312    1
23    01/01/2001 01:00:00 PM  False   213    1
24    01/01/2001 01:00:00 PM  False   911    1
25    01/01/2001 01:00:00 PM  False  1433    1
26    01/01/2001 01:00:00 AM  False  1023    1
27    01/01/2001 01:00:00 AM  False  1632    1
28    01/01/2001 01:00:00 AM   True  1434    1
29    01/01/2001 01:00:00 AM  False   421    1
...                      ...    ...   ...  ...
1170  01/01/2001 10:35:00 AM   True  1712    1
1171  01/01/2001 10:40:00 AM  False  1333    1
1172  01/01/2001 10:40:00 AM  False  1125    1
1173  01/01/2001 10:42:00 AM   True   233    1
1174  01/01/2001 10:44:10 PM  False   422    1
1175  01/01/2001 10:45:00 AM   True  2232    1
1176  01/01/2001 10:45:00 AM  False  2531    1
1177  01/01/2001 10:45:00 PM  False   713    1
1178  01/01/2001 10:45:00 PM  False   422    1
1179  01/01/2001 10:45:00 PM   True  2024    1
1180  01/01/2001 10:45:00 PM   True  2111    1
1181  01/01/2001 10:46:00 PM   True   233    1
1182  01/01/2001 10:49:08 PM  False  1912    1
1183  01/01/2001 10:50:00 PM   True  2023    1
1184  01/01/2001 10:50:20 PM   True   712    1
1185  01/01/2001 10:52:45 PM  False   531    1
1186  01/01/2001 10:53:02 AM  False  1013    1
1187  01/01/2001 10:55:00 PM   True   924    1
1188  01/01/2001 10:56:45 AM  False  1011    1
1189  01/01/2001 11:00:00 AM  False   815    1
1190  01/01/2001 11:00:00 PM  False   522    1
1191  01/01/2001 11:00:00 AM  False  2113    1
1192  01/01/2001 11:00:00 PM  False  1424    1
1193  01/01/2001 11:00:00 PM  False  1111    1
1194  01/01/2001 11:00:00 PM   True   611    1
1195  01/01/2001 11:00:00 AM  False  2212    1
1196  01/01/2001 11:00:00 PM  False   921    1
1197  01/01/2001 11:00:00 PM  False   912    1
1198  01/01/2001 11:00:00 AM  False   821    1
1199  01/01/2001 11:00:00 AM  False   712    1

[1200 rows x 4 columns]

In [31]:
date_time = dt.datetime.strptime("08/11/2009 05:00:00 PM",'%m/%d/%Y %H:%M:%S %p')
date_time

datetime.datetime(2009, 8, 11, 5, 0)

import datetime as dt

#df.iloc[1,:]['Date']
date_time = dt.datetime.strptime("08/11/2009 05:00:00 PM",'%m/%d/%Y %H:%M:%S %p')
date_time