In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/ChicagoCrimes2001ToPresent.csv')

In [3]:
print(df.columns)
df.head(3)

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,7070949,HR477887,08/11/2009 12:30:00 PM,045XX S GREENWOOD AVE,0810,THEFT,OVER $500,VEHICLE NON-COMMERCIAL,False,False,...,4.0,39.0,06,1184348.0,1875108.0,2009,02/04/2016 06:33:39 AM,41.812467,-87.599326,"(41.812467299, -87.599325599)"
1,7070950,HR478180,08/11/2009 05:00:00 PM,047XX W LAKE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,CTA PLATFORM,False,False,...,28.0,25.0,11,1144619.0,1901792.0,2009,02/04/2016 06:33:39 AM,41.886531,-87.744382,"(41.886530554, -87.74438154)"
2,7070951,HR478220,08/11/2009 06:50:00 PM,013XX W DEVON AVE,031A,ROBBERY,ARMED: HANDGUN,RESTAURANT,False,False,...,40.0,1.0,03,1166249.0,1942628.0,2009,02/04/2016 06:33:39 AM,41.998152,-87.663779,"(41.998151691, -87.663779402)"

In [4]:
df = df.sort_values(by ='Date')

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
2006945,1310717,G001093,01/01/2001 01:00:00 AM,071XX N WOLCOTT AV,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,NaN,NaN,14,1162335.0,1947787.0,2001,08/17/2015 03:03:40 PM,42.012391,-87.678032,"(42.0123912, -87.678032389)"
2007210,1311503,G001102,01/01/2001 01:00:00 AM,026XX N HALSTED ST,0264,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER DANG WEAPON,BAR OR TAVERN,False,False,...,NaN,NaN,02,1170510.0,1918326.0,2001,08/17/2015 03:03:40 PM,41.931374,-87.648819,"(41.931373805, -87.648818936)"
2009809,1318099,G003019,01/01/2001 01:00:00 AM,041XX S PRAIRIE AV,0460,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,...,NaN,NaN,08B,1178685.0,1877637.0,2001,08/17/2015 03:03:40 PM,41.819538,-87.620020,"(41.819537938, -87.62002027)"

In [5]:
df.head(20)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
2006945,1310717,G001093,01/01/2001 01:00:00 AM,071XX N WOLCOTT AV,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,NaN,NaN,14,1162335.0,1947787.0,2001,08/17/2015 03:03:40 PM,42.012391,-87.678032,"(42.0123912, -87.678032389)"
2007210,1311503,G001102,01/01/2001 01:00:00 AM,026XX N HALSTED ST,0264,CRIM SEXUAL ASSAULT,AGGRAVATED: OTHER DANG WEAPON,BAR OR TAVERN,False,False,...,NaN,NaN,02,1170510.0,1918326.0,2001,08/17/2015 03:03:40 PM,41.931374,-87.648819,"(41.931373805, -87.648818936)"
2009809,1318099,G003019,01/01/2001 01:00:00 AM,041XX S PRAIRIE AV,0460,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,...,NaN,NaN,08B,1178685.0,1877637.0,2001,08/17/2015 03:03:40 PM,41.819538,-87.620020,"(41.819537938, -87.62002027)"
3509141,3206463,HK204378,01/01/2001 01:00:00 AM,027XX W 87TH ST,0266,CRIM SEXUAL ASSAULT,PREDATORY,RESIDENCE,False,True,...,18.0,70.0,02,1159813.0,1846866.0,2001,03/31/2006 10:03:38 PM,41.735507,-87.690095,"(41.735507018, -87.690094853)"
2009747,1317937,G001149,01/01/2001 01:00:00 AM,024XX E 73 ST,0460,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,False,...,NaN,NaN,08B,1193629.0,1856985.0,2001,08/17/2015 03:03:40 PM,41.762514,-87.565877,"(41.762514064, -87.565876899)"
2017481,1330412,G026686,01/01/2001 01:00:00 AM,019XX N HALSTED ST,0820,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,...,NaN,NaN,06,1170604.0,1913228.0,2001,08/17/2015 03:03:40 PM,41.917383,-87.648623,"(41.917382588, -87.648623098)"
2013204,1323691,G010990,01/01/2001 01:00:00 AM,025XX W ROOSEVELT RD,143A,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,False,False,...,NaN,NaN,15,1159886.0,1894673.0,2001,08/17/2015 03:03:40 PM,41.866694,-87.688513,"(41.86669414, -87.688513488)"
2006881,1310288,G000636,01/01/2001 01:00:00 AM,075XX S UNION AV,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,NaN,NaN,14,1172985.0,1854673.0,2001,08/17/2015 03:03:40 PM,41.756650,-87.641608,"(41.756650158, -87.641607815)"
2007138,1311269,G001223,01/01/2001 01:00:00 AM,076XX S COLFAX AV,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,...,NaN,NaN,14,1194808.0,1854873.0,2001,08/17/2015 03:03:40 PM,41.756690,-87.561625,"(41.756689633, -87.561625217)"
2007121,1311226,G000964,01/01/2001 01:00:00 AM,022XX W CORNELIA AV,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,NaN,NaN,14,1160728.0,1923242.0,2001,08/17/2015 03:03:40 PM,41.945072,-87.684629,"(41.945072291, -87.684629263)"
2007089,1311144,G001320,01/01/2001 01:00:00 AM,063XX N LEAVITT ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,NaN,NaN,14,1160455.0,1942042.0,2001,08/17/2015 03:03:40 PM,41.996666,-87.685110,"(41.99666603, -87.685109858)"
2007076,1311123,G001792,01/01/2001 01:00:00 AM,022XX W 21 ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,NaN,NaN,14,1161720.0,1890066.0,2001,08/17/2015 03:03:40 PM,41.854014,-87.681909,"(41.854014083, -87.681908988)"
2016015,1328315,G020979,01/01/2001 01:00:00 AM,067XX S JUSTINE ST,1130,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,...,NaN,NaN,11,1167126.0,1859954.0,2001,08/17/2015 03:03:40 PM,41.771269,-87.662929,"(41.771269195, -87.662929135)"
2007804,1313213,G001554,01/01/2001 01:00:00 AM,071XX S LAFAYETTE AV,0460,BATTERY,SIMPLE,VEHICLE NON-COMMERCIAL,False,True,...,NaN,NaN,08B,1177027.0,1857893.0,2001,08/17/2015 03:03:40 PM,41.765396,-87.626698,"(41.765396066, -87.626697771)"
2007049,1311049,G000125,01/01/2001 01:00:00 AM,032XX W IRVING PARK RD,1310,CRIMINAL DAMAGE,TO PROPERTY,OTHER,False,False,...,NaN,NaN,14,1153841.0,1926448.0,2001,08/17/2015 03:03:40 PM,41.954010,-87.709858,"(41.954010014, -87.709857541)"
2007576,1312658,G004147,01/01/2001 01:00:00 AM,040XX W CORTLAND ST,0460,BATTERY,SIMPLE,STREET,False,False,...,NaN,NaN,08B,1149393.0,1912364.0,2001,08/17/2015 03:03:40 PM,41.915450,-87.726575,"(41.915449949, -87.726575474)"
2008651,1315458,G005079,01/01/2001 01:00:00 AM,016XX N HUMBOLDT BL,0820,THEFT,$500 AND UNDER,STREET,False,False,...,NaN,NaN,06,1156090.0,1910543.0,2001,08/17/2015 03:03:40 PM,41.910320,-87.702020,"(41.910320325, -87.702020443)"
2006827,1309918,G000412,01/01/2001 01:00:00 AM,032XX N SHEFFIELD AV,0820,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,...,NaN,NaN,06,1169005.0,1921458.0,2001,08/17/2015 03:03:40 PM,41.940001,-87.654258,"(41.940000996, -87.654258339)"
2008827,1315987,G001152,01/01/2001 01:00:00 AM,009XX N HUDSON AV,1310,CRIMINAL DAMAGE,TO PROPERTY,CHA APARTMENT,False,False,...,NaN,NaN,14,1173036.0,1906862.0,2001,08/17/2015 03:03:40 PM,41.899860,-87.639877,"(41.899860332, -87.63987705)"
2006897,1310393,G000713,01/01/2001 01:00:00 AM,052XX N EAST RIVER RD,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,NaN,NaN,14,1116671.0,1933824.0,2001,08/17/2015 03:03:40 PM,41.974911,-87.846348,"(41.974911416, -87.846347904)"

In [6]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [7]:
#mapping of Primary type and description done via IUCR code
df = df.loc[:,['Date','IUCR','Location Description','Arrest','Domestic', 'District','Ward','Community Area','Latitude','Longitude']]
df.head(3)

,Date,IUCR,Location Description,Arrest,Domestic,District,Ward,Community Area,Latitude,Longitude
2006945,01/01/2001 01:00:00 AM,1320,STREET,False,False,24.0,NaN,NaN,42.012391,-87.678032
2007210,01/01/2001 01:00:00 AM,0264,BAR OR TAVERN,False,False,19.0,NaN,NaN,41.931374,-87.648819
2009809,01/01/2001 01:00:00 AM,0460,RESIDENCE PORCH/HALLWAY,False,True,2.0,NaN,NaN,41.819538,-87.620020

In [8]:
print(df.shape)
df.describe()

(6288458, 10)

           District          Ward  Community Area      Latitude     Longitude
count  6.288409e+06  5.673597e+06    5.672411e+06  6.213313e+06  6.213313e+06
mean   1.131038e+01  2.262051e+01    3.766837e+01  4.184179e+01 -8.767197e+01
std    6.943665e+00  1.380486e+01    2.153776e+01  9.090264e-02  6.289908e-02
min    1.000000e+00  1.000000e+00    0.000000e+00  3.661945e+01 -9.168657e+01
25%    6.000000e+00  1.000000e+01    2.300000e+01  4.176886e+01 -8.771396e+01
50%    1.000000e+01  2.200000e+01    3.200000e+01  4.185461e+01 -8.766638e+01
75%    1.700000e+01  3.400000e+01    5.800000e+01  4.190696e+01 -8.762850e+01
max    3.100000e+01  5.000000e+01    7.700000e+01  4.202291e+01 -8.752453e+01

In [9]:
df.dropna(axis = 0, how = 'any',inplace=True)
df.head(3)

,Date,IUCR,Location Description,Arrest,Domestic,District,Ward,Community Area,Latitude,Longitude
3509141,01/01/2001 01:00:00 AM,0266,RESIDENCE,False,True,8.0,18.0,70.0,41.735507,-87.690095
3513448,01/01/2001 01:00:00 AM,1754,RESIDENCE,True,False,9.0,14.0,58.0,41.823730,-87.698440
5130716,01/01/2001 01:00:00 AM,1752,RESIDENCE,False,True,2.0,20.0,40.0,41.789084,-87.620849

In [11]:
df.describe()

           District          Ward  Community Area      Latitude     Longitude
count  5.604960e+06  5.604960e+06    5.604960e+06  5.604960e+06  5.604960e+06
mean   1.130219e+01  2.261123e+01    3.768200e+01  4.184135e+01 -8.767200e+01
std    6.936981e+00  1.380226e+01    2.153609e+01  9.113093e-02  6.310910e-02
min    1.000000e+00  1.000000e+00    0.000000e+00  3.661945e+01 -9.168657e+01
25%    6.000000e+00  1.000000e+01    2.300000e+01  4.176832e+01 -8.771413e+01
50%    1.000000e+01  2.200000e+01    3.200000e+01  4.185403e+01 -8.766639e+01
75%    1.700000e+01  3.400000e+01    5.800000e+01  4.190661e+01 -8.762846e+01
max    3.100000e+01  5.000000e+01    7.700000e+01  4.202271e+01 -8.752453e+01

In [10]:
df.shape

(5604960, 10)

import datetime as dt

#df.iloc[1,:]['Date']
date_time = dt.datetime.strptime("08/11/2009 05:00:00 PM",'%m/%d/%Y %H:%M:%S %p')
date_time